*{
	margin:0px;
	padding:0px;
}
div.main{
    min-width: 1280px;
}

header{
	position:relative;
	margin:0px 100px;
	height:60px;
	background-color:white;
}
img.icon_1{
	position:relative;	
	height:40px;
	width:40px;
	top:10px;
	margin-right:10px;
}
label.new_world{
	position:absolute;
	left:8%;
	font-size:25px;
	line-height:60px;	
}

header nav{
	position:relative;
	float:right;
}



header nav ul li{
	position:relative;
	font-size:20px;
	display:block;
	float:left;
	right:0px;
	top:20px;
	color:grey;
	cursor:pointer;
	margin-right:20px;
	
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

header nav ul li:hover{
	color: #F04C57;
	border-bottom:3px solid red;
}

header nav ul li.banner_right{
	margin-left:60px;
	color:red;
}

/*section1*/
section.section1{
	position:relative;
    height: 650px;
}

section.section1 img{
	width:100%;
	height:650px;
}
section.section1 label.en{
	position:absolute;
	color:white;
	left:10%;
	font-family:Arial;
    font-size: 60px;
    top: 30%;

}
section.section1 label.ch{
	position:absolute;
	color:white;
	left:10%;
	font-family:Arial;
    font-size: 28px;
    top: 48%;

}

section.section1 span{
	width: 300px;
    height: 60px;
	background-color:#E53C3C;
	position:absolute;
	color:white;
	left:10%;
	font-family:Arial;
    font-size: 30px;
    line-height: 60px;
	text-align:center;
    top: 65%;
	cursor: pointer;
}

/*section2*/
section.section2{
	width:100%;
	margin:30px 0;
}

section.section2 div.cell{
	position:relative;
	display: inline-block;
	width:24.5%;
	text-align:center;
}

section.section2 div img{
	position: relative;
	height: 50px;
	margin:30px 0;
	
}

section.section2 div label{
	display: inline-block;
	width: 100%;
	font-size: 13px;
    color: #534141;
    text-align: center;
	border-right:2px solid #534141;
	transition: all 0.4s ease-in-out;
	cursor:text;
	line-height:20px;
}
section.section2 div label:hover{
	color: #BE4F48;
}

section.section2 div label#last-child{
	border-right:none;
}

/*section3*/

section.section3{
	width: 100%;
    height: 400px;
    background: #EDEAEA;
    text-align: center;
}

section.section3 div.container{
	display:inline-block;
}

section.section3 div.img{
	position:relative;
	top:80px;
	
}

section.section3 div.lab{
	font-size: 50px;
    color: #534141;
	
	position:relative;
	top:140px;
}

/*section4*/
section.section4{
	background: url(../images/pic02.jpg);
	width:100%;
	height:300px;
	display:inline-block;
	text-align:center;	
}
section.section4 div.container{
	font-family:微软雅黑;
}
section.section4 div.lab{
	position:relative;
	width:100%;	
	font-size: 25px;
	color:white;
	top:80px;
}

section.section4 div.lab span{
	color:white;
	display:inline-block;
	width:30px;
	height:20px;
	margin-top:10px;
	border-top:2px solid white;	
	
	-webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
	transition:width ease-in-out 0.4s;
}

section.section4 div.lab span:hover{
	width: 300px;
}


section.section4 div.lab p:last-child{
	font-size:12px;
}

section.section4 div.container input[type="radio"]{
	width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
	opacity:0;
	position: relative;
    top: 120px;
    z-index: 10;
}
section.section4 .options{
	position:relative;
	top:80px;	
	left:15px;
}
section.section4 .options .select{
	width: 240px;
    height: 36px;
    margin: 0 10px;
	
	font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;
    
    display: inline-block;
    position: relative;
    
    box-sizing: border-box;
    border: 1px solid #C6B3AF;
    
	background: url(../images/icon-7.png) no-repeat 210px 8px,#fff;
    background-size: 20px;
}

section.section4 .options .select:last-of-type{
    visibility: hidden;
}

section.section4 .options .select span{
    margin-left: 10px;
}

section.section4 .options .select .option{
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
	display:none;
    left: 0px;
    top: 34px;
}

section.section4 .options .select .option ul li{
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}
section.section4 .options .select .option ul li:hover{
	 background: url(../images/icon-8.png) no-repeat 10px 8px,#BF4E48;
	 background-size: 20px;
     color: #fff;
}
section.section4 input[type="radio"]:nth-of-type(1):checked~.options .select-1 .option,
section.section4 input[type="radio"]:nth-of-type(2):checked~.options .select-2 .option,
section.section4 input[type="radio"]:nth-of-type(3):checked~.options .select-3 .option{
    display: block;
}

section.section4 input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
	font-family:微软雅黑;
    font-size: 16px;
    border: 0;
    background-color: #BE4F48;
    color: #fff;
    letter-spacing: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 116px;
	left:15px;
	z-index:20;

    
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

section.section4 input[type="submit"]:hover{
    background-color: #E31212;
    border-radius: 3px;
}
/*section5*/
section.section5{
	width: 100%;
    height: 500px;
    background-color: #EDEAEA;
    text-align: center;
    font-size: 0;
}

section.section5 .cell{
    display: inline-block;
    width: 20%;
    height: 400px;
    position: relative;
    top: 50px;
}

section.section5 .cell .img{
	width:100%;
    height: 340px;
    margin:10px;
	
}
section.section5 .cell .img:hover{
	cursor:pointer;	
}
section.section5 .cell .lab{
	width: 100%;
    height: 60px;
}
section.section5 .lab p:first-child{
	font-size: 14px;
    color: #44403F;
    margin: 0;
}

section.section5 .lab p:last-child{
	font-size: 12px;
    color: #B3AFAC;
	line-height:30px;
}

section.section5 .cell:nth-child(2) p:first-child{
	font-size: 24px;
    text-indent: 30px;
    letter-spacing: 30px;
	font-weight:bold;	
}

/*section6*/

section.section6{
	position:relative;
	width:100%;
	height:560px;
}

section.section6 div.left{
	width:68%;
	height: 560px;
	postion:relative;
	background: url(../images/pic07.jpg) no-repeat;
	background-size: cover;	
}

section.section6 div.left div.lab{
	color: #fff;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

section.section6 .left .lab p{
    font-size: 30px;
    margin: 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
	font-weight:bold;
    margin-bottom: 20px;
}

section.section6 .left .lab p:nth-child(1){
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0px;
}
section.section6 .left .lab p:nth-child(3){
    font-size: 150px;
    height: 150px;
    line-height: 150px;
}

section.section6 .right{
	position:absolute;
	top:0px;
	height: 560px;
    margin-left: 77%;
    text-align: center;
}

section.section6 .right .wrapper{
	width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}


section.section6 div.right div.wrapper .lab{
	display:none;
}

section.section6 div.right div.wrapper .lab p{
	margin:0px;
}

section.section6 div.right div.wrapper .lab p:first-child{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
section.section6 div.right div.wrapper .lab p:first-child span{
    color: #BE4F48;
}

section.section6 div.right div.wrapper .lab p:last-child{
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #B3AFAC;
    margin-bottom: 60px;
    
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

section.section6 div.right div.wrapper .lab p:last-child:hover{
    color: #33363F;
}
section.section6 div.right div.wrapper .lab-1{
	display: block;
}


section.section6 div.right div.wrapper .button{
    width: 100px;
    height: 35px;
    font-size: 13px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #BE4F48;
    color: #BE4F48;
    background-color: #fff;
    cursor: pointer;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

section.section6 div.right div.wrapper .button:hover{
    color: #fff;
    border-radius: 3px;
    background-color: #BE4F48;
}

section.section6 div.right div.wrapper input[type="radio"]{
    width: 10px;
    height: 10px;
    position: relative;
    top: 320px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

section.section6 div.right div.wrapper .list{
    height: 10px;
    width: 10px;
    border: 1px solid #6C5C5C;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: 300px;
    z-index: 1;
}

section.section6 div.right div.wrapper .list:first-of-type{
	background-color: #6C5C5C;
}

section.section6 div.right div.wrapper input[type="radio"]:checked~.list{
    background-color: #fff;
}

section.section6 div.right div.wrapper input[type="radio"]:checked~.lab{
    display: none;
}

section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(1):checked~.lab-1,
section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(2):checked~.lab-2,
section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(3):checked~.lab-3{
    display: block;
}

section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(1):checked~.list:nth-of-type(1),
section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(2):checked~.list:nth-of-type(2),
section.section6 div.right div.wrapper input[type="radio"]:nth-of-type(3):checked~.list:nth-of-type(3)
{
    background-color: #6C5C5C;
}









#section-9{
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #33363F;
}
#section-9 .mes{
    width: 100%;
    height: 150px;
    color: #F7F8FC;
    display: inline-block;
    margin-top: 80px;
}
#section-9 .mes p:first-child{
    font-size: 20px;
}
#section-9 .mes p:last-child{
    font-size: 14px;
}
#section-9 .text{
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 0;
}
#section-9 .text input[type="email"]{
    width: 500px;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #75757F;
}
#section-9 .text input[type="email"]:focus{
    outline: 0;
}
#section-9 .text input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    border: 0;
    box-sizing: border-box;
    background-color: #75757F;
    
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
#section-9 .text input[type="submit"]:hover{
    background-color: #5E5E68;
}
#section-9 .icon{
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: 30px;
}
#section-9 .icon i{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    
    -webkit-transition: font-size 0.4s ease-in-out;
    -moz-transition: font-size 0.4s ease-in-out;
    transition: font-size 0.4s ease-in-out;
}
#section-9 .icon i:hover{
    font-size: 35px;
}






footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #30303A;
}
footer .mes,footer .back{
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
footer .mes{
    float: left;
}
footer .mes span{
    cursor: pointer;
}
footer .back{
    float: right;
}
footer .back a{
    text-decoration: none;
    color: #fff;
    
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}
footer .back a:hover{
    color: #75757F;
}
